@import "../../styles/vars.scss";
.bar {
  width: 100%;
  height: 30px;
  background-color: $purple;
  border-radius: 4px;
  color: white;
  padding: 3px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    transform: scale(1.25) rotate(8 + deg);
  }
}
